<form asp-action="Sum">
    <label>Luong co ban: </label>
    <input type="number" min="0" max="1000000000" name="LuongCoBan" placeholder="nhap luong co ban" />
    <label >He so luong:</label>
    <input type="number" step="0.1" min="0.1" max="10" name="HeSoLuong" placeholder="nhap he so luong" />
    <label >Phu cap:</label>
    <input type="number" min="0" max="1000000000" name="PhuCap" placeholder="nhap phu cap" />
    <input type="submit" value="Tinh luong" />
</form>
<h1>@ViewBag.A</h1>