<form asp-action="Index" class="w3-container">

<label class="w3-text-blue"><b>PersonID</b></label>
<input class="w3-input w3-border" type="text" name="PersonID">
 
<label class="w3-text-blue"><b>FullName</b></label>
<input class="w3-input w3-border" type="text" name="FullName">

<button class="w3-btn w3-blue">Register</button>
 
</form>

<p>@ViewBag.Thongbao</p>