<form asp-action="Index">
    <label>FullName: </label>
    <input type="text" name="fullName" placeholder="Enter Your FullName"><br>
    <label>Email: </label>
    <input type="email" name="Email" placeholder="Enter Your Email"><br>
    <input type="submit" value="Send">
</form>
<br>
<h1>@ViewBag.Export</h1>